input{
    font-size:20px;
    color:red;

}
    .boxbox{
        font-size:20px;
        color:red;
    }


article{
        text-align: center;
        width: 100%;
        margin: 10px auto;
    }

.gamecontainer {
    width: 100%;
    min-width: 1200px;
    padding: 25px 50px 50px 25px;
    background-color:#77d3f6;
    text-align: center;
    border-radius: 2px;
}
canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    border-radius: 25px;
}
.aquariumcontainer{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 500px;
    border-radius: 25px;
    color:#77d3f6;
}
#sharken:checked ~ .aquariumcontainer #sharkPic{
    animation-name: sharkswim;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
#moraybox:checked ~.aquariumcontainer #morayPic{

    animation-name: moray-anticlockwise;

}

#stonefishbox:checked ~.aquariumcontainer #stoneFishPic{

    left: 200px;
}

.gameItem{
    z-index: 2;
    position: absolute;
    margin:0;
    padding: 0;
    transform-style: preserve-3d;
    perspective: 1000px;
}
#diverPic{
    top: 25px;
    width: 280px;
    animation-name: diverswim;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#coralPic{
        width: 200px;
    left: 700px;
    top: 397px;
        z-index: 5;

}
#sharkPic{
    width: 200px;
    top: 390px;
    left: 615px;
    transform: rotateY(180deg) rotateZ(-15deg);

}
#stoneFishPic{
    width: 100px;
    top: 290px;
    left: 960px ;
    animation-name: stonefish-right;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
#morayPic{
    width: 100px;
    left: 200px;
    top: 150px;
    z-index: 1;
    transform: rotateY(180deg);
    animation-name: moray-clockwise;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes moray-clockwise{
    0% { top: 120px;}
    25% {left: 600px;}
    50% {top: 260px; transform: rotateY(360deg);}
    75% { left: 150px}
    100% { top: 120px;}

}

@keyframes moray-anticlockwise{
    0% { top: 150px;}
    25% {top: 350px;}
    45% {transform: rotateY(180deg);}
    50% {left: 800px; transform: rotateY(360deg);}
    75% { top: 180px}
    80% { transform: rotateY(360deg);}
    100% { left: 200px; transform: rotateY(180deg);}

}

@keyframes stonefish-right{
    0% { transform: scale(1);}
    50%{ transform: scale(3);}
    100% { transform: scale(1);}


}
@keyframes diverswim{
    0% { left:200px}
    50%{ left: 800px; transform: rotateY(0deg);}
    60% {transform: rotateY(180deg);}
    90%{transform: rotateY(180deg);}
    100%{ left: 200px;}
}
@keyframes sharkswim{
    0% {}
    10% {transform:rotateY(360deg) rotateZ(35deg); }
    50%{ left: 50px; top: 300px; transform: rotateY(360deg)  rotateZ(25deg);}
    60% {transform: rotateY(540deg);}
    90%{transform: rotateY(540deg);}
    100%{ left: 600px;}

}

@media only screen and (max-width: 990px){
    .aquariumcontainer{
        display: none;
    }

    input{
        display: none;
    }
    .gamecontainer{
        display:none;
    }
    #noSupport:before{
        content: "sorry this does not work on device";
    }
}


