body {
    padding-top: 70px;
}
/*******Start Overriding Bootstrap*******/
/*Main Navbar*/
.navbar {
    min-height: 70px;
    background-color:#0F52D7;
}

/*Navbar Link*/
.navbar-inverse .navbar-nav > li > a {
    color: #BBB;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    background-color:#0F52D7;
}
.navbar-inverse .navbar-nav > .active >a,
.navbar-inverse .navbar-nav > .active >a:hover,
.navbar-inverse .navbar-nav > .active >a:focus
{
    background-color:#4D7E63;
}
/*Brand Name*/
.navbar-inverse .navbar-brand {
    color: #BBB;
    font-size: 30px;
    line-height: 40px;
}
/*Dropdown Menu*/

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus
{
     background-color: #0F52D7;
}
.dropdown-menu {
    background-color: #0F52D7;
    min-width: 200px;
}

.navbar-right .dropdown-menu {
    left: 0;
    right: auto;
   
}

.dropdown-menu > li > a {
    color: #FFF;
    padding: 6px 20px;
    transition: padding 0.5s ease;
}

    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        color: #FFF;
        padding-left: 25px;
        background-color:#4D7E63;
    }

.dropdown-menu .divider {
    background-color: #4D7E63;
}
/*Navbar Toggle*/
.navbar-toggle {
    margin-top: 18px;
}

/*Start Leader Div*/
.leader {
    background: url('../images/BoraBora_SEtienne.jpg')no-repeat center center fixed;
    /*background: #54CCD6;*/
    min-height: 630px;
}
.leader .container
{
     background: rgba(42,50,59,0.6);
        color: #fff;
        min-height: 650px;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size:20px;
}
.leader img
{
    border-radius:10px;
}
.Maincontent h2,h3
{
    margin-bottom: 40px;
}
.Maincontent img{
    margin-bottom:20px;
}

/*End Leader Div*/
/*Start Footer*/
footer
{
    height:40px;
    background-color:#0F52D7;
    color:#BBB;
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
}
/*End Footer*/